/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
--bg-color__theme: url(../images/cover-image-dark.png);
--accent__color: #FF0070;
--main-text__color: #F1B2CE;
--content-title__color: #FF0070;
--content-subtitle__color: #000028;
--main-title__color: #DB00FF;
}


.theme-dark .title {
  text-shadow: 4px 4px var(--accent-color, #FF0070);
}

.theme-dark .title-decor {
  color: var(--content-subtitle__color, #000028);
  background-color: var(--accent-color,#FF0070);
}

.theme-dark .decorated-item {
  color: var(--accent-color, #FF0070);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  position: absolute;
  inset-inline-end: clamp(1.625rem, 1.2672rem + 1.5267vw, 2rem);
  inset-block-start: 0.60vw;
  display: block;
}

@media (width >= 600px) {
  .theme-dark .decorated-item {
    inset-inline-end: 28px;
    inset-block-start: 0;
}
}

.theme-dark .content__subtitle {
  color: var(--content-subtitle__color, #000028);
  background-color: var(--accent-color, #FF0070);
}

.theme-dark .content__text-article a {
  text-shadow: 2px 2px var(--accent-color, #FF0070);
}

.theme-dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}
