/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color__theme: url(../images/cover-image-light.png);
  --accent__color: #FF8DCB;
  --main-text__color: #353430;
  --content-title__color: #353430;
  --content-subtitle__color: #353430;
  --main-title__color: #FFC2E6;
}

.theme-light .page {
  background-color: #fff1f7;
  background-image: var(--bg-color__theme);
}

.theme-light .decorated-item {
  display: none;
}

.theme-light .title {
  text-shadow: 4px 4px var(--accent-color, #FF8DCB);
}

.theme-light .title-decor {
  color: var(--content-subtitle__color, #353430);
  background-color: var(--accent-color,#FF8DCB);
}

.theme-light .content__subtitle {
  color: var(--content-subtitle__color, #353430);
  background-color: var(--accent-color, #FF8DCB);
}

.theme-light .content__text-article a {
  text-shadow: 2px 2px var(--accent-color, #FF8DCB);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color__theme: url(../images/cover-image-light.png);
    --accent__color: #FF8DCB;
    --main-text__color: #353430;
    --content-title__color: #353430;
    --content-subtitle__color: #353430;
    --main-title__color: #FFC2E6;
  }

  .decorated-item {
    display: none;
  }

  .title {
    text-shadow: 4px 4px var(--accent-color, #FF8DCB);
  }

  .title-decor {
    color: var(--content-subtitle__color, #353430);
    background-color: var(--accent-color,#FF8DCB);
  }

  .content__subtitle {
    color: var(--content-subtitle__color, #353430);
    background-color: var(--accent-color, #FF8DCB);
  }

  .content__text-article a {
    text-shadow: 2px 2px var(--accent-color, #FF8DCB);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }
}